Sphinx
sphinx-rtd-theme
pytest
pytest-cov
boto3
s3fs
fastparquet
apache-airflow==2.*
apache-airflow-providers-ftp==2.*
apache-airflow-providers-http==2.*
apache-airflow-providers-imap==2.*
apache-airflow-providers-sqlite==2.*
